<div class="text-center text-sm">
  <div class="relative inline-block text-left">
    <button
      (click)="changeDropDownState()"
      class="flex h-[40px] items-center rounded-md bg-neutral-700 px-4 text-neutral-100 transition-colors hover:bg-neutral-600"
    >
      {{ checkLanguage() }}
      <span class="pl-4">
        <svg
          width="10"
          height="10"
          viewBox="0 0 20 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="fill-current"
        >
          <path
            d="M10 14.25C9.8125 14.25 9.65625 14.1875 9.5 14.0625L2.3125 7C2.03125 6.71875 2.03125 6.28125 2.3125 6C2.59375 5.71875 3.03125 5.71875 3.3125 6L10 12.5312L16.6875 5.9375C16.9688 5.65625 17.4063 5.65625 17.6875 5.9375C17.9687 6.21875 17.9687 6.65625 17.6875 6.9375L10.5 14C10.3437 14.1563 10.1875 14.25 10 14.25Z"
          />
        </svg>
      </span>
    </button>
    <div
      [ngClass]="
        dropDownOpen
          ? 'visible top-full opacity-100'
          : 'invisible top-[110%] opacity-0'
      "
      class="bg-dark-2 absolute left-0 z-40 mt-2 w-full rounded-md border border-neutral-600 bg-neutral-100 py-[10px] transition-all"
    >
      <a
        *ngFor="let option of dropDownItems"
        [routerLink]="option?.path"
        (click)="(option?.action)"
        class="block px-5 py-2 text-neutral-700 transition-colors hover:bg-neutral-200"
      >
        {{ option.name }}
      </a>
    </div>
  </div>
</div>
