<section class="h-[90svh] overflow-hidden bg-neutral-800 text-neutral-100">
  <div class="h-full w-full">
    <div *ngIf="!isLoading" class="flex h-full flex-wrap">
      <div
        class="group relative flex h-full cursor-pointer flex-col gap-2 border-2 border-neutral-800 bg-neutral-50"
        *ngFor="let part of parts"
        (click)="navegate(part?.path)"
        [ngClass]="{
          'hover:bg-red-200': part?.color === 'red',
          'hover:bg-blue-200': part?.color === 'blue',
          'hover:bg-lime-200': part?.color === 'green'
        }"
      >
        <img
          class="h-full w-[300px] rounded-md object-contain transition-all group-hover:w-[350px]"
          [src]="'data:image/png;base64,' + part?.previewImage?.content"
          alt=""
        />
        <div
          class="invisible absolute top-0 h-full w-full bg-neutral-700 bg-opacity-10 opacity-0 transition-all group-hover:visible group-hover:opacity-100"
        >
          <div class="relative h-full w-full">
            <div
              class="absolute bottom-[-400px] w-full bg-neutral-600 p-8 transition-all group-hover:bottom-0"
            >
              <h3 class="text-xl font-bold capitalize">{{ part?.part }}</h3>
              <h4 class="text-sm font-medium">{{ part?.name }}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngIf="isLoading"
      class="flex h-full w-full items-center justify-center"
    >
      <app-loader customStyles="background: #fafafa;" />
    </div>
  </div>
</section>
