<section class="flex min-h-[90svh] text-neutral-700">
  <div class="w-[100%]">
    <header
      class="mx-auto flex w-[90%] max-w-[1300px] flex-col gap-2 px-4 py-10"
    >
      <h2 class="text-8xl font-black">
        Bienvenido al Curso de Maths Predators
      </h2>
      <img
        class="m-auto h-[300px] w-[1300px] rounded-md border-2 border-neutral-700 bg-indigo-300 object-cover"
        src="../../../assets/banner.svg"
        alt=""
      />
    </header>
  </div>
</section>

<app-courses-view />
