<section
  class="flex min-h-[90svh] w-full items-center justify-center text-neutral-700"
>
  <header
    class="mx-auto flex h-full w-[90%] max-w-[1300px] flex-col gap-8 px-4 py-10"
  >
    <h2 class="text-8xl font-black">Bienvenido al Curso de Maths Predators</h2>
    <img
      class="m-auto h-[30svh] w-full rounded-md border-2 border-neutral-700 object-cover"
      src="../../../assets/banner.svg"
      alt=""
    />
    <div class="flex flex-col items-center justify-center gap-2">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium,
        quidem.
      </p>
      <a
        routerLink="about"
        class="w-max rounded-md bg-neutral-700 px-4 py-3 text-neutral-100 transition-colors hover:bg-neutral-600"
      >
        Empezar el curso
      </a>
    </div>
  </header>
</section>

<app-courses-view />
