<section
  *ngIf="!isPartLoading || !isSubPartLoading"
  class="relative m-auto flex w-[90%] max-w-[1300px] overflow-hidden"
>
  <app-sidebar>
    <div
      *ngFor="let subPart of dataPart?.subParts"
      class="flex flex-col gap-2 rounded-md bg-neutral-200 p-4"
    >
      <h4 class="text-lg font-black text-neutral-700">
        {{ subPart.name }}
      </h4>
      <a
        class="group relative cursor-pointer overflow-hidden p-4 font-bold text-neutral-700 transition-all"
        (click)="navegate(content?.path)"
        *ngFor="let content of subPart?.contents; let index = index"
      >
        <span
          [ngClass]="{ 'text-neutral-100': isActive(content?.path) }"
          class="absolute bottom-0 left-0 top-0 z-10 inline-flex items-center justify-center px-4 transition-all delay-100 duration-200 group-hover:text-neutral-100"
          >{{ index + 1 }} - {{ content?.title }}</span
        >
        <div
          class="absolute top-0 z-0 h-full w-full rounded-r-md bg-neutral-700 transition-all duration-300 ease-in-out group-hover:left-0"
          [ngClass]="isActive(content?.path) ? 'left-0' : 'left-[-800px]'"
        ></div>
      </a>
    </div>
  </app-sidebar>
  <div class="ml-[300px]"></div>
  <div class="m-auto my-8 min-h-[100vh] flex-1">
    <div class="flex flex-col gap-4" *ngIf="dataSubPart">
      <h1
        class="w-max bg-neutral-700 px-4 py-2 text-2xl font-black text-neutral-100"
      >
        {{ dataSubPart?.title }}
      </h1>
      <div
        class="flex w-[100%] whitespace-pre text-pretty p-4 text-sm text-neutral-700"
        *ngIf="dataSubPart"
      >
        <markdown katex [data]="dataSubPart?.content"> </markdown>
      </div>
    </div>
  </div>
</section>
<div
  *ngIf="isSubPartLoading || isPartLoading"
  class="flex h-full min-h-[90svh] w-full items-center justify-center overflow-hidden"
>
  <app-loader customStyles="background: #404040;" />
</div>
