<div class="flex h-[100svh] overflow-hidden">
  <div class="m-auto flex w-[50%] gap-2 p-[30px] text-neutral-700">
    <div class="flex flex-col gap-8 text-lg">
      <markdown [data]="dataPart.description"></markdown>
      <a
        *ngFor="let subPart of dataPart.subParts"
        [routerLink]="replace(subPart.name)"
        class="inline-flex w-max cursor-pointer items-center justify-center gap-2 rounded-md border-2 border-neutral-700 p-2 font-bold"
        [ngClass]="{
          'bg-red-200': dataPart.color === 'red',
          'bg-lime-200': dataPart.color === 'green'
        }"
      >
        {{ dataPart.bgTW
        }}<span
          class="inline-flex w-8 items-center justify-center rounded-md bg-neutral-700 p-1 text-lg text-neutral-100"
          >{{ subPart.subPart }}
        </span>
        {{ subPart.name }}</a
      >
    </div>
  </div>
  <img
    class="h-[100%] w-[50%]"
    [src]="'data:image/png;base64,' + dataPart.previewImage.content"
    alt=""
  />
</div>
